*{
    box-sizing: border-box;
    --main-color: #FB6B6B;
    --main-font: 'Recursive', sans-serif;
    --font-logo: 'Righteous', cursive;
    --color-font: #fff;
    
    --height-header: 55px;
    --height-footer: 60px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    color: #333333;

    background-color: var(--main-color);
}

.root{
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: calc(100% - calc(var(--height-header) + var(--height-footer)));

}


/* <<< Header >>> */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--height-header);
    padding-top: 15px;
}

header img {
    width: 38px;
}

header h1 {
    margin-left: 10px;

    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 25px;

    color: var(--color-font);
}


/* Deck of cards */
.deckofcards {
    overflow-y: auto;
    max-width: 800px;

    margin-top: 35px;
    margin-bottom: 10px;
}

/* <<< Cards >>> */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 182px;
    height: 40px;

    padding: 6px;
    margin-bottom: 5px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card img {
    margin-right: 6px;
}

.card-question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 182px;
    height: 80px;

    padding: 6px;
    margin-bottom: 5px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card-question p {
    margin-left: 5px;
    margin-top: 5px;
}

.card-question button {
    border: none;
    background: none;

    margin-left: auto;
}

.card-answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 182px;
    min-height: 80px;

    padding: 6px;
    margin-bottom: 5px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card-answer .buttons {
    display: flex;
    justify-content: space-between;

}

.card-answer p {
    word-wrap: break-word;

    margin-bottom: 5px;
}

.card-answer button {
    width: 55px;
    height: 24px;
    border-radius: 5px;

    border:none;

    font-size: 7px;
    font-weight: 400;

    word-wrap: break-word;

    color: #fff;
}

.good {
    background: #2FBE34;
}
.medium {
    background: #FF922E;;
}
.bad {
    background: #FF3030;
}


/* <<< Login >>> */


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--main-color);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 73px;

    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 25px;

    color: var(--color-font);
}

.logo h1 {
    margin-top: 10px;
}

.btn-start {
    width: 141px;
    height: 31px;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    color: #D70900;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: var(--height-footer);

    font-family: var(--main-font);
    font-weight: 400;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

footer .answers {
    display: flex;
    justify-content: center;

    width: 100%;
}

footer img {
    margin: 0 2px;
}

