/* <<< Cards >>> */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 6px;
    margin-bottom: 5px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.card.good > p{
    text-decoration: line-through;
    color: #2FBE34;
}

.card.medium > p{
    text-decoration: line-through;
    color: #FF922E;
}

.card.bad > p{
    text-decoration: line-through;
    color: #FF3030;
}

.card img {
    margin: 10px 6px;
}

.card.question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;

    background: #FFFFD5;
}

.card.question button {

    margin-top: 25px;

    border: none;
    background: none;

    margin-left: auto;
}

.card.answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;

    background: #FFFFD5;
}

.card.question p, 
.card.answer p {
    margin-left: 5px;
    margin-top: 5px;
    word-wrap: break-word;
}

.card.answer .buttons {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    margin-top: 25px;

    margin:none;

}

.card.answer button {
    width: 20%;
    max-width: 100px;
    min-width: 5rem;
    min-height: 2.4rem;

    border-radius: 5px;

    border:none;

    font-size: var(--font-size-min);
    font-weight: 400;

    word-wrap: break-word;

    color: #fff;
}

button.good {
    background: #2FBE34;
}
button.medium {
    background: #FF922E;;
}
button.bad {
    background: #FF3030;
}