/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    z-index: 1;

    min-height: var(--height-footer);

    font-family: var(--main-font);
    font-weight: 400;

    box-shadow: 0px 0 10px -1px rgba(0, 0, 0, 0.35);
    background: #FFFFFF;
}

footer h2 {
    font-weight: bold;
    font-size: 1.2rem;

    margin-top: 15px;
}

footer p {
    text-align: center;
    margin-top: 15px;
}

footer p.qtd-finished {    
    font-weight: 700;
    font-size: var(--font-size-main);
}

footer .answers {
    display: flex;
    justify-content: center;

    width: 100%;
}

footer img {
    margin: 15px 2px;
}

footer button {

    margin-bottom: 15px;
    padding: 5px 10px;

    
    font-weight: 700;
    font-size: var(--font-size-main);

    border: none;
    border-radius: 5px;
    background: #FB6B6B;
    color: #fff;


}