header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--height-header);
    padding-top: 15px;
}

header img {
    width: 38px;
}

header h1 {
    margin-left: 10px;

    font-family: var(--font-logo);
    font-weight: 400;
    font-size: var(--font-size-medium);

    color: var(--color-font);
}